Flask
PyMySQL==1.0.2
PyYAML==6.0.0
apispec==5.1.1
beautifulsoup4==4.11.1
bioutils==0.5.5
chembl_webresource_client==0.10.7
click==8.1.2
colorlog==6.6.0
cyvcf2==0.30.15
dask[complete]==2022.4.1
distributed==2022.4.1
#html5lib
i_vis_core @ file:///home/michael/git/i-vis/i-vis-core
inflection==0.5.1
jellyfish==0.9.0
jinja2==3.1.1
lxml==4.8.0
marshmallow-sqlalchemy==0.28.0
marshmallow
nltk==3.7
numpy
openpyxl==3.0.9
orjson==3.6.8
packaging==21.3
pandas
pyarrow==7.0.0
pronto==2.4.4
psutil==5.9.0
requests
sqlalchemy
tabulate==0.8.9
tqdm
webargs
werkzeug
wtforms
xmltodict==0.12.0