Flask
Flask-SQLAlchemy
PyMySQL==0.10.1
PyYAML==5.4.1
apispec==5.1.1
beautifulsoup4==4.9.3
bioutils
chembl_webresource_client
click
colorlog==6.5.0
cyvcf2==0.30.4
dask[complete]
distributed
html5lib
i-vis-core @ file:///home/michael/git/i-vis/i-vis-core#egg=i-vis-core
inflection
jellyfish==0.8.2
jinja2
lxml
marshmallow-sqlalchemy
marshmallow
mypy_extensions
nltk==3.5
numpy
orjson==3.5.3
openpyxl
packaging==20.9
pandas
pyarrow
pronto==2.4.2
psutil==5.8.0
requests
sqlalchemy
tabulate
tqdm
webargs
werkzeug
wtforms
xmltodict==0.12.0